<section class="container centered" style="align-items: start;">
    <div class="about">
      <link rel="stylesheet" href="/css/custom.css">
      <script>
        function myFunction() {
          let body = document.getElementsByClassName("colorscheme-light");
          let card = document.getElementsByClassName("card")[0];
          if (body.length > 0) {
            card.style.filter = "invert(1)";
          } else {
            card.style.filter = "invert(0)";
          }
        }
        setInterval(myFunction, 100);
      </script>
      <div class="card"></div>
      {{ if and (isset .Site.Params "avatarurl") (not (isset .Site.Params "gravatar")) }}
        {{ with .Site.Params.avatarURL }}
          <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div>
        {{ end }}
      {{ end }}
      {{ with .Site.Params.gravatar }}
        <div class="avatar"><img src="https://www.gravatar.com/avatar/{{md5 .}}?s=240&d=mp" alt="gravatar"></div>
      {{ end }}
      <h1>{{ .Site.Params.author }}</h1>
      {{ if reflect.IsSlice .Site.Params.info }}
      <h2>{{ range .Site.Params.info }}{{.}}<br>{{ end}}</h2>
      {{ else }}
      <h2>{{ .Site.Params.info }}</h2>
      {{ end }}
      {{ with .Site.Params.social }}
      <ul>
        {{ range sort . "weight" }}
          {{ if .icon }}
            <li>
              <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .type }}type="{{ .type }}"{{ end }}>
                <i class="{{ .icon }}" aria-hidden="true"></i>
              </a>
            </li>
          {{ else }}
            <li>
              <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }}>{{ .name }}</a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
      {{ end }}
    </div>
  </section>
  